

<mat-grid-list cols="2" rowHeight="1:1" >
    
    <mat-grid-tile *ngFor="let player of players; index as i" >
        <mat-card  >
             <mat-card-header>
        
              <mat-card-title style="text-align: center;">{{player.name}}</mat-card-title> 
            </mat-card-header> 
          
            <img mat-card-lg-image src="{{player.photo}}" alt="{{player.name}}">
            <mat-card-content>
              <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p> -->
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>

    </mat-grid-tile>
    
</mat-grid-list>


