
<mat-card  >
<div>
  <!-- <h4>Lista de Confirmação</h4> -->
  <div *ngIf="isShowFormConfirm && saveData" class="alert alert-success" role="alert">
   Nome incluído com sucesso, BOM JOGO RATO !
  </div>
  <div *ngIf="!isShowFormConfirm && saveData" class="alert alert-success" role="alert">
     Obrigado por avisar, MAS VOCÊ NÃO FAZ FALTA !
   </div>


  <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
    <div class="form-group">
       <label>Nome / Apelido</label> 
       <input class="form-control" name="name" #name="ngModel" 
        [(ngModel)]="book.name" placeholder="Digite seu nome ou apelido" required>
        <p class="fw-light text-danger">Obrigatório*</p>
    </div> 
  
 
    
    <div class="form-group" *ngIf="isShowFormConfirm">
      <label>Posição (opção 1)</label>
      <select class="form-select" name="posicao1" #posicao1="ngModel"   placeholder="-- Posição -- "
        [(ngModel)]="book.posicao1" required>
         <option value="1">Goleiro</option> 
         <option value="2">Zagueiro</option>
         <option value="3">Lateral</option>
         <option value="4">Volante</option>
         <option value="5">Meia</option>
         <option value="6">Atacante</option>
      </select>
      <p class="fw-light text-danger">Obrigatório*</p>
     </div>

     <div class="form-group" *ngIf="isShowFormConfirm">
      <label>Posição (opção 2)</label>
      <select class="form-select" name="posicao2" #posicao2="ngModel" 
        [(ngModel)]="book.posicao2">
          <option value="1">Goleiro</option>
          <option value="2">Zagueiro</option>
          <option value="3">Lateral</option>
          <option value="4">Volante</option>
          <option value="5">Meia</option>
          <option value="6">Atacante</option>
      </select>
     </div>

     <div class="form-group" *ngIf="isShowFormConfirm" >
      <label>Vai participar do churrasco ?</label>
      <select required class="form-select"  name="churrasco" #churrasco="ngModel"   
        [(ngModel)]="book.churrasco">
         <option value="1">Futebol e Resenha</option>
         <option value="2">Só Resenha</option>
         <option value="3">Só Futebol</option>
      </select>
      <p class=".fs-7 text fw-light text-danger">Obrigatório*</p>
     </div>
 
     <div class="form-group" *ngIf="isShowFormConfirm">
      <label>Avulso:</label>
      <select class="form-select"  name="avulso" #avulso=ngModel  required
        [(ngModel)]="book.avulso">
         <option value="1">Sim</option>
         <option value="2">Não</option>
      </select>
      <p class=".fs-7 text fw-light text-danger">Obrigatório*</p>
     </div>
     <div class="d-grid gap-2">
           <button type="submit" class="btn btn-success  btn-lg" 
             [disabled]="!bookForm.valid" [disabled]="bookForm.invalid">
              <i class="bi bi-plus"></i>Confirmar</button>
        </div>
    </form>
</div>
</mat-card>