 

<div class=" bg-light">
  <div class="py-3 text-center">
    <img class="d-block mx-auto mb-4" src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/libertadores_2021%2Flogos%2Fcobra-roxa1.png?alt=media&token=74873d20-7a99-46fb-a24f-4ddfbeed9ab1" alt="" width="80" height="110">
    <h2>Futebol de Quinta</h2>
    <p class="lead">Confirme seu nome para entrar na relação de jogadores da semana.</p>
  </div>
<!-- 
  <button type="button" routerLink="" class="btn btn-link">
    Home
   </button>
  <button type="button" routerLink="search" class="btn btn-link">
     Search
  </button> -->
</div>

<router-outlet></router-outlet>