<mat-tab-group (selectedIndexChange)="clickMe($event)">
  <mat-tab label="CONFIRMADOS" dynamicHeight > 
     
    <table class="table table-striped" >
      <thead class="bg-success text-white">
       <tr>
         <th scope="col">#</th>
         <th scope="col">CONFIRMADOS</th>
         <th scope="col"></th>
       </tr>
      </thead>
      <tbody *ngIf="lstConfirmedSoccer">
        <tr *ngFor="let confirmed of lstConfirmedSoccer; index as i">
          <th scope="row">{{ i+1 }}</th> 
          <td>
            <p [ngClass]="{'text-decoration-line-through text-danger': confirmed.cancelado === true}" class="font-weight-bold" > {{ confirmed.name }}  
            <img *ngIf="confirmed.churrasco == 1 || confirmed.churrasco == 3" width="20" height="20"  src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/icons%2Fsoccer-ball.png?alt=media&token=13e7430b-2a5c-4c90-b3c2-1ec672a49182" alt="" >
            <img *ngIf="confirmed.churrasco == 1 || confirmed.churrasco == 2" width="20" height="20"  src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/icons%2Fbarbecue.png?alt=media&token=2cc9ecb2-8479-4bad-bbb3-90d3d89ef05a" alt="" >
          </p>
          <p>
              Posição:  {{ confirmed.posicao1 == '1' ? 'Goleiro' : '' }}
              {{ confirmed.posicao1 == '2' ? 'Zagueiro' : '' }}
              {{ confirmed.posicao1 == '3' ? 'Lateral' : '' }}
              {{ confirmed.posicao1 == '4' ? 'Volante' : '' }}
              {{ confirmed.posicao1 == '5' ? 'Meia' : '' }}
              {{ confirmed.posicao1 == '6' ? 'Atacante' : '' }} | 
             
              {{ confirmed.posicao2 == '1' ? 'Goleiro' : '' }}
              {{ confirmed.posicao2 == '2' ? 'Zagueiro' : '' }}
              {{ confirmed.posicao2 == '3' ? 'Lateral' : '' }}
              {{ confirmed.posicao2 == '4' ? 'Volante' : '' }}
              {{ confirmed.posicao2 == '5' ? 'Meia' : '' }}
              {{ confirmed.posicao2 == '6' ? 'Atacante' : '' }}
            </p>
            <p *ngIf="confirmed.cancelado" [ngClass]="{'text-danger': confirmed.cancelado === true}">CANCELADO</p>
            <p *ngIf="confirmed.avulso == 1" [ngClass]="{'text-success text-bold': confirmed.avulso == 1}"><b>AVULSO</b></p>
          </td> 
            <td class="text-end align-middle">
          
               <span *ngIf="!confirmed.cancelado"  (click)="cancelar(confirmed)" class="material-icons md-70 customIconSize text-danger">delete_forever</span>
               <span *ngIf="confirmed.cancelado"  (click)="RefazerCancelamento(confirmed)" class="material-icons md-70 customIconSize text-success">restore_from_trash</span>
      
          </td>  
        </tr>
       </tbody>
    </table>
    <!-------------------------------------------------->
    <!----------------   RESENHA   --------------------->
    <!-------------------------------------------------->
    <table class="table table-striped" >
      <thead class="text-white bg-warning">
       <tr>
         <th scope="col">#</th>
         <th scope="col" class="text-left">SÓ RESENHA</th>
         <th scope="col"> </th>
       </tr>
      </thead>
      <tbody *ngIf="lstConfirmedBarbecue">
        <tr *ngFor="let confirmed of lstConfirmedBarbecue; index as i" >
          <th scope="row" >{{ i+1 }}</th> 
          <td >
            <p [ngClass]="{'text-decoration-line-through text-danger': confirmed.cancelado === true}" class="font-weight-bold" > {{ confirmed.name }}  
            <img *ngIf="confirmed.churrasco == 1 || confirmed.churrasco == 3" width="20" height="20"  src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/icons%2Fsoccer-ball.png?alt=media&token=13e7430b-2a5c-4c90-b3c2-1ec672a49182" alt="" >
            <img *ngIf="confirmed.churrasco == 1 || confirmed.churrasco == 2" width="20" height="20"  src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/icons%2Fbarbecue.png?alt=media&token=2cc9ecb2-8479-4bad-bbb3-90d3d89ef05a" alt="" >
          </p>
          <p>
              Posição:  {{ confirmed.posicao1 == '1' ? 'Goleiro' : '' }}
              {{ confirmed.posicao1 == '2' ? 'Zagueiro' : '' }}
              {{ confirmed.posicao1 == '3' ? 'Lateral' : '' }}
              {{ confirmed.posicao1 == '4' ? 'Volante' : '' }}
              {{ confirmed.posicao1 == '5' ? 'Meia' : '' }}
              {{ confirmed.posicao1 == '6' ? 'Atacante' : '' }} | 
             
              {{ confirmed.posicao2 == '1' ? 'Goleiro' : '' }}
              {{ confirmed.posicao2 == '2' ? 'Zagueiro' : '' }}
              {{ confirmed.posicao2 == '3' ? 'Lateral' : '' }}
              {{ confirmed.posicao2 == '4' ? 'Volante' : '' }}
              {{ confirmed.posicao2 == '5' ? 'Meia' : '' }}
              {{ confirmed.posicao2 == '6' ? 'Atacante' : '' }}
            </p>
            <p *ngIf="confirmed.cancelado" [ngClass]="{'text-danger': confirmed.cancelado === true}">CANCELADO</p>
            <p *ngIf="confirmed.avulso == 1" [ngClass]="{'text-success text-bold': confirmed.avulso == 1}"><b>AVULSO</b></p>
          </td> 
            <td class="text-end align-middle">
          
               <span *ngIf="!confirmed.cancelado"  (click)="cancelar(confirmed)" class="material-icons md-70 customIconSize text-danger">delete_forever</span>
               <span *ngIf="confirmed.cancelado"  (click)="RefazerCancelamento(confirmed)" class="material-icons md-70 customIconSize text-success">restore_from_trash</span>
      
          </td>  
        </tr>
       </tbody>
    </table>  


    <!-------------------------------------------------->
    <!----------------   CANCELADOS   --------------------->
    <!-------------------------------------------------->
    <table class="table table-striped" >
      <thead class="text-white bg-danger">
       <tr>
         <th scope="col">#</th>
         <th scope="col" class="text-left">CANCELADOS</th>
         <th scope="col"> </th>
       </tr>
      </thead>
      <tbody *ngIf="lstConfirmedCanced">
        <tr *ngFor="let confirmed of lstConfirmedCanced; index as i" >
          <th scope="row" >{{ i+1 }}</th> 
          <td >
            <p [ngClass]="{'text-decoration-line-through text-danger': confirmed.cancelado === true}" class="font-weight-bold" > {{ confirmed.name }}  
            <img *ngIf="confirmed.churrasco == 1 || confirmed.churrasco == 3" width="20" height="20"  src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/icons%2Fsoccer-ball.png?alt=media&token=13e7430b-2a5c-4c90-b3c2-1ec672a49182" alt="" >
            <img *ngIf="confirmed.churrasco == 1 || confirmed.churrasco == 2" width="20" height="20"  src="https://firebasestorage.googleapis.com/v0/b/fdqapp.appspot.com/o/icons%2Fbarbecue.png?alt=media&token=2cc9ecb2-8479-4bad-bbb3-90d3d89ef05a" alt="" >
          </p>
          <p>
              Posição:  {{ confirmed.posicao1 == '1' ? 'Goleiro' : '' }}
              {{ confirmed.posicao1 == '2' ? 'Zagueiro' : '' }}
              {{ confirmed.posicao1 == '3' ? 'Lateral' : '' }}
              {{ confirmed.posicao1 == '4' ? 'Volante' : '' }}
              {{ confirmed.posicao1 == '5' ? 'Meia' : '' }}
              {{ confirmed.posicao1 == '6' ? 'Atacante' : '' }} | 
             
              {{ confirmed.posicao2 == '1' ? 'Goleiro' : '' }}
              {{ confirmed.posicao2 == '2' ? 'Zagueiro' : '' }}
              {{ confirmed.posicao2 == '3' ? 'Lateral' : '' }}
              {{ confirmed.posicao2 == '4' ? 'Volante' : '' }}
              {{ confirmed.posicao2 == '5' ? 'Meia' : '' }}
              {{ confirmed.posicao2 == '6' ? 'Atacante' : '' }}
            </p>
            <p *ngIf="confirmed.cancelado" [ngClass]="{'text-danger': confirmed.cancelado === true}">CANCELADO</p>
            <p *ngIf="confirmed.avulso == 1" [ngClass]="{'text-success text-bold': confirmed.avulso == 1}"><b>AVULSO</b></p>
          </td> 
            <td class="text-end align-middle">
          
               <span *ngIf="!confirmed.cancelado"  (click)="cancelar(confirmed)" class="material-icons md-70 customIconSize text-danger">delete_forever</span>
               <span *ngIf="confirmed.cancelado"  (click)="RefazerCancelamento(confirmed)" class="material-icons md-70 customIconSize text-success">restore_from_trash</span>
      
          </td>  
        </tr>
       </tbody>
    </table>  

  </mat-tab>

  <mat-tab label="AUSENTES"   > 
    <table class="table table-striped" >
      <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Ausentes</th>
         <th scope="col"></th>
       </tr>
      </thead>
      <tbody *ngIf="lstAbsent">
        <tr *ngFor="let absent of lstAbsent; index as i">
          <th scope="row">{{ i+1 }}</th> 
          <td>
            <p [ngClass]="{'text-decoration-line-through text-danger': absent.cancelado === true}" class="font-weight-bold" > {{ absent.name }}  
          </p>
         
          </td> 
            <td class="text-end align-middle">
          
               <span *ngIf="!absent.cancelado"  (click)="cancelarAbsent(absent)" class="material-icons md-70 customIconSize text-danger">delete_forever</span>
               <span *ngIf="absent.cancelado"  (click)="RefazerCancelamentoAbsent(absent)" class="material-icons md-70 customIconSize text-success">restore_from_trash</span>
      
          </td>  
        </tr>
       </tbody>
    </table>

  </mat-tab> 
</mat-tab-group>
 

<div class="d-grid gap-2">
  
</div>
